<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 text-center">
                            <img ng-src="{{config.serverUrl}}{{player.thumbLink}}" alt="" class="center-block img-circle img-responsive"> 
                        </div>
                        <div class="col-xs-12 col-sm-7">
                        	<h2>{{player.name}} {{config.serverUrl}}{{player.thumblink}}</h2>

                            <p>{{player.firstName}} {{player.lastName}}</p>
                            <p>{{player.email}} </p>
                            <p>
							<span class="label label-info tags"></span> 
                            <span class="label label-info tags"></span>
                            <span class="label label-info tags"></span>
                            <span class="label label-info tags"></span>
                            </p>
                        </div>
    				</div>
				</div>
			</div>
		</div>
	</div>
</div>